<div class="container" *ngIf="proyecto">
    <div class="row">
        <div>
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="nombreP">Nombre del proyecto</label>
                    <input type="text" class="form-control" id="nombreP" name="nombreP" [(ngModel)]="proyecto.nombreP" required>
                </div>
                <div class="form-group">
                    <label for="descripcionP">Descripcion del proyecto</label>
                    <input type="text" class="form-control" id="descripcionP" name="descripcionP" [(ngModel)]="proyecto.descripcionP" required>
                </div>
                <button class="btn btn-info">
                    Agregar Proyecto
                </button>
            </form>
        </div>
    </div>
</div>
