<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="col-lg-2">
        <button type="button" class="btn btn-dark" routerLink="/nuevoproy" *ngIf="isLogged">
            Agregar Proyecto
        </button>
    </div>

    <div class="col lg 1"></div>
    <div class="col-lg-11">
        <table class="table">
            <tbody>
                <tr *ngFor="let Proyecto of proyecto">
                    <td>
                        <h2>{{Proyecto.nombreP}}</h2>
                    </td>
                    <td>{{Proyecto.descripcionP}}</td>
                    <td *ngIf="isLogged">
                        <button class="btn btn-info" routerLink="/editproyec/{{Proyecto.id}}"><i
                                class="bi bi-pencil-fill"></i>EDITAR</button>
                    </td>
                    <td *ngIf="isLogged"><button class="btn btn-danger" (click)="delete(Proyecto.id)">
                            <i class="bi bi-trash-fill"></i>BORRAR</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>