<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/APLogo.png" id="LogoAP">
        </div>
        <div class="redes">
            <div>
                <a href=""><img src="../../../assets/facebook.png" id="facebook"></a>
                <a href=""><img src="../../../assets/github.png" id="github"></a>
                <button type="button" class="btn btn-outline-warning" (click)="login()" *ngIf="!isLogged">INGRESO</button>
                <button type="button" class="btn btn-outline-warning" (click)="onLogOut()" *ngIf="isLogged">Cerrar Sesion</button>
            </div>
        </div>
    </div>
</div>